html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: placeholder: здесь должно быть имя шрифта из Google fonts;
 background-color: #E0FFFF;
}
body
{
	margin-left: auto;
    margin-right: auto;
    width: 10em;
	text-align: center
}

button
{
	 margin: auto;
	 width:200px;
     height:30px;
}
input[type=text]{
width:199px;
height:70px;
border: 1px solid blue;
}

#eng:hover
{
	background-color: #00BFFF;
}
#ru:hover
{
	background-color: #00BFFF;
}
{
