html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: placeholder: здесь должно быть имя шрифта из Google fonts;
 background-color: #E0FFFF;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  
}
p, li {
	
  font-size: 30px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 800px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}