html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: placeholder: здесь должно быть имя шрифта из Google fonts;
 background-color: #E0FFFF;
}

.pole
{
	width: 1000px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
	position: relative;
	margin-top: 15px
}
#addpole
{
    height: 100px;
}
#statpole
{
	 height: 50px;
}
hr{top: 70px;}
input
{
	width: 200px;
}
.mytext
{
	 display: inline-block;
        line-height: 20px;
        font-size: 20px;
        width: 330px; 
        text-align: center; 
		margin: 0 auto;
    position: relative;
}
#butt
{
	display: inline-block;
    line-height: 20px;
    width: 320px; 
    text-align: center; 
	margin: 0 auto;
    position: relative;
	top: -40px;
}

button
{
	 margin: auto;
	 width:200px;
     height:30px;
}
textarea
{
	font-size: 20px;
	resize: none;
	height: 150px;
}
h1
{
	margin: auto;
	font-size: 30px;
	text-align: center; 
}
h2
{
	margin: auto;
	font-size: 20px;
	text-align: center; 
}
p
{
	display: inline-block;
	font-size: 15px;
}
#eng:hover
{
	background-color: #00BFFF;
}
#ru:hover
{
	background-color: #00BFFF;
}
#addword:hover
{
	background-color: #00BFFF;
}
